<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>02</string>
				<key>name</key>
				<string>C0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>02</string>
				<key>name</key>
				<string>C1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>02</string>
				<key>name</key>
				<string>C2</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>02</string>
				<key>name</key>
				<string>C3</string>
			</dict>
		</array>
		<key>title</key>
		<string>E</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>02</string>
				<key>name</key>
				<string>C0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>02</string>
				<key>name</key>
				<string>C1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>02</string>
				<key>name</key>
				<string>C2</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>02</string>
				<key>name</key>
				<string>C3</string>
			</dict>
		</array>
		<key>title</key>
		<string>F</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>02</string>
				<key>name</key>
				<string>C0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>02</string>
				<key>name</key>
				<string>C1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>02</string>
				<key>name</key>
				<string>C2</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>02</string>
				<key>name</key>
				<string>C3</string>
			</dict>
		</array>
		<key>title</key>
		<string>G</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>02</string>
				<key>name</key>
				<string>C0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>02</string>
				<key>name</key>
				<string>C1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>02</string>
				<key>name</key>
				<string>C2</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>02</string>
				<key>name</key>
				<string>C3</string>
			</dict>
		</array>
		<key>title</key>
		<string>O</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>02</string>
				<key>name</key>
				<string>C0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>02</string>
				<key>name</key>
				<string>C1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>02</string>
				<key>name</key>
				<string>C2</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>02</string>
				<key>name</key>
				<string>C3</string>
			</dict>
		</array>
		<key>title</key>
		<string>X</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>00</string>
				<key>name</key>
				<string>A0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>01</string>
				<key>name</key>
				<string>A1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>02</string>
				<key>name</key>
				<string>A2</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>03</string>
				<key>name</key>
				<string>A3</string>
			</dict>
		</array>
		<key>title</key>
		<string>A</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>01</string>
				<key>name</key>
				<string>B0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>01</string>
				<key>name</key>
				<string>B1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>01</string>
				<key>name</key>
				<string>B2</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>01</string>
				<key>name</key>
				<string>B3</string>
			</dict>
		</array>
		<key>title</key>
		<string>B</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>02</string>
				<key>name</key>
				<string>C0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>02</string>
				<key>name</key>
				<string>C1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>02</string>
				<key>name</key>
				<string>C2</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>02</string>
				<key>name</key>
				<string>C3</string>
			</dict>
		</array>
		<key>title</key>
		<string>C</string>
	</dict>
</array>
</plist>
